
#title{
    text-align: center;
    font-size: larger;
}

.credentials{
    padding: 10px;
    margin-left: 20px;
    font-size: small;
}

.credentials div{
    padding-bottom: 20px;
}

#mainArea{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#firstnameDiv, #lastnameDiv{
    vertical-align: top;
    display: inline-block;
    width: 48%;
}

#lastnameDiv{
    margin-right: 5px;
}

#firstnameDiv input, #lastnameDiv input{
    background-color: #F2F2F2;
    border: none;
    color: darkgrey;
    padding: 5px 50px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px inset;
}

#firstnameDiv input{
    float: left;
}

#lastnameDiv input{
    float: center;
}

#emailDiv input, #passwordDiv input{
    background-color: #F2F2F2;
    border: none;
    color: darkgrey;
    padding: 5px 180px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px inset;
}

#signin, #signup{
    font-weight: bold;
    background-color: #676AD5;
    color: white;
    border: none;
    padding: 5px 25px;
    text-decoration: none;
    display: inline-block;
    margin: 20px 10px 10px 30px;
    border-radius: 16px;
}

label{
    display: block;
    padding-left: 10px;
}

#register, #login{
    background-color: #A4E7F5;
    height: 100vh;
}

button{
    padding: 10px;
    padding-top: 30px;
    color: black;
    text-decoration: none;
}

#registerRedirect{
    display: block;
    margin-left: 35px;
    color: #0047B1;
}

#registerRedirect:hover{
    text-decoration: underline;
}


/* HOME */
#home{
    background-color: #A4E7F5;
    height: 100vh;
}

#HmainArea{
    text-align: center;
    padding-top: 20px;
}

#mission{
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    height: 20vh;
    width: 75vw;
    min-width: 800px;
    background-color: #D3F7FF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px inset;
    font-size: 3vh;
}

#homeMedia{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.hImg{
    margin-left: 10px;
    margin-right: 10px;
    width: 37vw;
    height: 30vh;
    min-width: 300px;
    /* background-color: #71CADE;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px inset; */
}

.hImg img{
    max-width: 100%;
    min-height: 100%;
    background-color: #71CADE;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px inset;
    border-radius: 10px;
}


/* MAP */
#map{
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
}

.placeButton {
    cursor: pointer;
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.placeButton:hover {
    background-color: #e7e7e7;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.placeButton:active {
    background-color: #ddd;
}

.floating-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.floating-buttons button {
    cursor: pointer;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* RESOURCES */
#resources{
    background-color: #A4E7F5;
    height: 200vh;
}

#rmainArea {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.artBox{
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px;
    height: 40vh;
    width: 60vw;
    min-width: 30vw;
    text-align: left;
    background-color: #D3F7FF;
    border-radius: 10px;
    border: 0px #D3F7FF;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
#content a:link{
    text-decoration: none;
    color: black;
}
#content a:visited{
    text-decoration: none;
    color: black;
}
#content a:hover{
    text-decoration: underline;
    color: blue;
}
#content a:active{
    text-decoration: underline;
    color: blue;
}

#contentBox{
    margin: 0 auto;
    /*padding-left: 50%;*/
    height: 30vh;
    width: 30vw;
    
    #content{
        margin: 0 auto;
        text-align: left;
        font-size: 3vh;
    }
}

#resourceMedia{
    padding: 10px;
    display: flex;
    justify-content: left;
}

.rImg{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 23px;
    width: 37vw;
    height: 30vh;
    min-width: 300px;
    /* background-color: #71CADE;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px inset; */
}

.rImg img{
    max-width: 90%;
    min-height: 90%;
    background-color: #71CADE;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px outset;
    border-radius: 10px;
}


/* PROFILE */
#profilepage{
    background-color: #A4E7F5;
    height: 100vh;
}

#PmainArea{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

#personalSection{
    background-color: white;
    height: 70vh;
    width: 60vw;
    border-radius: 2px;
    padding: 5px;
    display: flex-row;
    justify-content: space-between;
}

#techSection{
    background-color: white;
    height: 40vh;
    width: 30vw;
    border-radius: 2px;
    padding: 5px;
}

#sharebtn{
    font-weight: bold;
    background-color: #676AD5;
    color: white;
    border: none;
    padding: 5px 25px;
    text-decoration: none;
    display: inline-block;
    /* margin: 20px 10px 10px 30px; */
    border-radius: 16px;
    margin-top: 20px;
}

.shareheading{
    display: flex;
    align-items: center;
}

#techSection a{
    padding-left: 10px;
}

#techSection p{
    padding: 0;
    margin: 0;
}